* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  color: #212529;
}

.menus {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 16px;
  margin: 0 12px; /* Adjust spacing between menu items */
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: #212529;
  text-decoration: none;
  padding: 0.7rem 1rem;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: #212529;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a,
.menu-items button {
  text-align: left;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

/* content */

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 20px;
}

.content h2 {
  margin-bottom: 1rem;
}

.content a {
  color: #cc3852;
  margin-right: 10px;
}

/* Remove the position and bottom properties from .footer */
.footer {
  background-color: black;
  color: white;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

/* Remove the height: 100% from .footer-content */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.footer-copyright {
  margin-top: 20px;
  font-size: 14px;
}

.random-joke-header {
  margin-top: 70px;
  background: linear-gradient(454deg, pink, orange);
  padding: 30px; /* Increased padding for more height */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Increased height */
}

blockquote {
  font-size: 40px; /* Increased font size */
  align-items: center;
  text-align: center;
}

.joke-text{
  color: black;
  font-size: 20px;
  text-decoration: underline;
}


.container-home {
  padding: 20px;
}

.content-section-home {
  display: grid;
  grid-template-columns: 10fr 500px; /* Adjust the width of the text box */
  align-items: center;
  gap: 20px; /* Adjust the gap between columns */
  margin-bottom: 40px;
}

.image-container-home {
  flex: 1;
  max-width: 400px;
  margin-right: 20px;
}

.image-home {
  width: 180%;
  height: 150%;
  object-fit: cover; 
}

.text-container-home {
  text-align: right;
}

.text-box-home {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  height: 150px;
}

text-box-home h2 {
  font-size: 44px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

text-box-home p {
  font-size: 30px;
  color: #666;
}

text-box-home a {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}
