.mainContainer {
    margin: 10px;
  }
  
  .mainContainer .container {
    padding: 40px 0;
  }
  
  .mainContainer .container img {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  
  div h3 {
    color: white;
    font-weight: bold;
  }
  
  img {
    width: 150px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }